/*Reset de CSS:*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  /*Variáveis de Cores*/
  --brand-color-light: #60A5FA;
  --brand-color-dark: #1D4ED8;
  --bg-color: #0F172A;
  --stroke-color: #1E293B;
  --text-color-primary: #F1F5F9;
  --text-color-secondary: #CBD5E1;

  /*Variáveis de Tipografia*/
  /* font: [style] [variant] [weight] [size]/[line-height] [family]; */
  --h1: normal 800 24px/1.35 "Archivo",
    sans-serif;
  --h2: normal 800 16px/1.4 "Archivo",
    sans-serif;
  --h3: normal 800 14px/1.4 "Archivo",
    sans-serif;
  --text-span: normal 600 14px/1.45 "Archivo",
    sans-serif;
  --text: normal 400 16px/1.4 "Archivo",
    sans-serif;
  --text-sm: normal 400 14px/1.6 "Archivo",
    sans-serif;
  --font-family: "Archivo",
    sans-serif;

}


body {
  font: var(--text);
  color: var(--text-color-primary);
  background-color: var(--bg-color);
}

main {
  margin-block: 40px;
  row-gap: 80px;
  column-gap: 32px;

  grid-template-areas:
    "featured featured"
    "weekly weekly"
    "ai aside";

  grid-template-columns: 1.43fr 1fr;
}


h1,
h2,
h3 {
  color: inherit;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1280px;
  padding-inline: 32px;
  margin-inline: auto;
}

.content-tag {
  display: inline-block;
  /* display: inline-block; permite ficar inline e a conta do padding fica igual ao block */
  padding: 4px 8px;
  border: 8px;
  border-radius: 4px;
  background-color: var(--brand-color-dark);
  box-sizing: border-box;
  font: normal 500 10px/1.2 var(--font-family);
  text-transform: uppercase;
  letter-spacing: 0.04em;
  color: var(--text-color-primary);
  box-shadow: 0px 4px 16px rgba(2, 6, 23, 0.25);
}


#hr {
  border: 0;
  height: 1px;
  background-color: var(--stroke-color);
  position: relative;
  width: 99vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

a {
  text-decoration: none;
  color: var(--text-color-secondary);
  font: var(--text-span);

  span {
    background-image: url(./assets/icons/ArrowRight.svg);
    width: 16px;
    height: 16px;
  }

  &:hover span {
    background-image: url(./assets/icons/ArrowRightHover.svg);
  }


}

a:hover {
  color: var(--brand-color-light);
}

p {
  color: var(--text-color-secondary);
}