#primary {
  padding-block: 20px;

  /*Nesting CSS*/
  div:nth-child(2) {
    margin-inline: auto
  }
}

#primary div {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* 
Usado no Nesting CSS acima

#primary div:nth-child(2) {
  margin-inline: auto;
} */

#primary div:nth-child(3) {
  justify-self: end;
}

#secondary {
  padding-block: 14px;
  justify-content: space-between;
}