section header {
  border-top: 1px solid var(--stroke-color);
  padding-block: 12px 24px;
  font: var(--text-span);

  a {
    justify-self: end;
    align-items: center;
    gap: 4px;
    font: var(--text-span);

    span {
      background-image: url(./assets/icons/ArrowRight.svg);
      width: 16px;
      height: 16px;
    }

    &:hover span {
      background-image: url(./assets/icons/ArrowRightHover.svg);
    }

  }

  h3 {
    font: var(--text-span);
    color: var(--text-color-secondary);
  }


}


#featured {
  img {
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
  }

  .card {
    position: relative;
    overflow: hidden;
    border-radius: 4px;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      top: 50%;
      background: linear-gradient(180deg, transparent 0%, #020617 100%)
    }

    figcaption {
      position: absolute;
      bottom: 0;
      padding: 24px;

      &:has(.text-lg) {
        padding: 12px;
      }

      h2,
      h3 {
        margin-top: 8px;
      }
    }
  }
}

/* #featured .card {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}

#featured .card::before {
  content: "";
  position: absolute;
  inset: 0;
  top: 50%;
  background: linear-gradient(180deg, transparent 0%, #020617 100%)
} */

#weekly {

  &>div {
    grid-template-columns: repeat(4, 292px);
  }

  img {
    height: 160px;
  }

  figure {
    position: relative;

    .content-tag {
      position: absolute;
      top: 8px;
      left: 8px;
    }

    p {
      margin-top: 8px;
      font: var(--h2);
    }

  }

}

#ai {
  &>div {
    grid-template-rows: repeat(4, 292px);
  }

}