/*Multi line*/
/*
 - Flex-wrap
   - tamanho do container
   - nova linha = novo container
   - valores
 - align-content

*/



.container-a {
  display: flex;
  height: 25vh;
  border: 2px dashed;
  flex-direction: row;
  justify-content: space-evenly;
  /*flex-wrap: nowrap; Não terá "quebra de div", ajustando os tamanhos dos itens internos para caber no espaço*/
  flex-wrap: wrap;
  /*É criado uma nova "div container", tendo linhas principal e transversal, quando aplicado align-items e não o align-content*/
  /*O align-content serve para "retornar" as propriedades de apenas uma div. E só funciona quando aplicamos o flex-wrap.*/
  align-items: center;
  align-content: flex-start;
  /*Alinha todos os conteúdos no top*/
  align-content: flex-end;
  /*Alinha todos os conteúdos no bottom*/
  align-content: center;
  align-content: space-around;
  /*Gostei desse. Coloca espaço, sobrando um pouco como se fosse padding*/
  align-content: space-between;
  /*Interessante. Isola as linhas com o máximo de distância*/
  align-content: space-evenly;

}

.container-a .item {
  background-color: hsl(var(--hue), 100%, 70%);
  width: 150px;
  text-align: center;
}


.container-b {
  margin-top: 40px;
  display: flex;
  height: 20vh;
  border: 2px dashed;
  flex-direction: row;
  justify-content: space-evenly;
}

.container-b .item {
  background-color: hsl(var(--hue), 100%, 70%);
  text-align: center;
  align-content: center;
  /*width: 150px;*/
  flex-basis: 60px;
  /*Substitui a largura. Mas CUIDADO, o flex-basis é aplicado ao EIXO PRINCIPAL. Como neste caso, o flex-direction está em row, o valor do flex-basis é aplicado à linha.*/
}