/*Multi line*/
/*
 - Flex-wrap
   - tamanho do container
   - nova linha = novo container
   - valores
 - align-content

*/



.container-a {
  display: flex;
  height: 25vh;
  border: 2px dashed;
  flex-direction: row;
  justify-content: space-evenly;
  /*flex-wrap: nowrap; Não terá "quebra de div", ajustando os tamanhos dos itens internos para caber no espaço*/
  flex-wrap: wrap;
  /*É criado uma nova "div container", tendo linhas principal e transversal, quando aplicado align-items e não o align-content*/
  /*O align-content serve para "retornar" as propriedades de apenas uma div. E só funciona quando aplicamos o flex-wrap.*/
  align-items: center;
  align-content: flex-start;
  /*Alinha todos os conteúdos no top*/
  align-content: flex-end;
  /*Alinha todos os conteúdos no bottom*/
  align-content: center;
  align-content: space-around;
  /*Gostei desse. Coloca espaço, sobrando um pouco como se fosse padding*/
  align-content: space-between;
  /*Interessante. Isola as linhas com o máximo de distância*/
  align-content: space-evenly;

}

.container-a .item {
  background-color: hsl(var(--hue), 100%, 70%);
  width: 150px;
  text-align: center;
}


.container-b {
  margin-top: 40px;
  display: flex;
  height: 20vh;
  border: 2px dashed;
  flex-direction: row;
  justify-content: space-evenly;
}

.container-b .item {
  background-color: hsl(var(--hue), 100%, 70%);
  text-align: center;
  align-content: center;
  /*width: 150px;*/
  flex-basis: 60px;
  /*Substitui a largura. Mas CUIDADO, o flex-basis é aplicado ao EIXO PRINCIPAL. Como neste caso, o flex-direction está em row, o valor do flex-basis é aplicado à linha.*/
}


.container-c {
  margin-top: 40px;
  display: flex;
  height: 20vh;
  border: 2px dashed;
  flex-direction: row;
  justify-content: space-evenly;
}

.container-c .item {
  background-color: hsl(var(--hue), 100%, 70%);
  text-align: center;
  align-content: center;
  /*width: 150px;*/
  flex-grow: 1;
}

.container-c .item:nth-child(6) {
  flex-grow: 2;
  /*O item terá um crescimento de 2 vezes o valor da base*/
}


.container-d {
  margin-top: 40px;
  display: flex;
  height: 20vh;
  border: 2px dashed;
  flex-direction: row;
  justify-content: space-evenly;
}

.container-d .item {
  background-color: hsl(var(--hue), 100%, 70%);
  text-align: center;
  align-content: center;
  width: 100px;
  flex-shrink: 0;
  /*Desativa o encolhimento automático. Se o conteúdo tiver que "transbordar" da div, irá fazê-lo.*/
  /*Por padrão, o valor do flex-shrink é 1*/
}


.container-e {
  margin-top: 40px;
  display: flex;
  height: 20vh;
  border: 2px dashed;
  flex-direction: row;
}

.container-e .item {
  background-color: hsl(var(--hue), 100%, 70%);
  text-align: center;
  align-content: center;
  width: 100px;
  flex-shrink: 0;
  /*Desativa o encolhimento automático. Se o conteúdo tiver que "transbordar" da div, irá fazê-lo.*/
  /*Por padrão, o valor do flex-shrink é 1 (para todos os conteúdos)*/
}

.container-e .item:nth-child(2) {
  flex-shrink: 3;
  /*Está encolhendo numa proporção de 3 vezes mais que o padrão*/
}

.container-e .item:nth-child(3) {
  flex-shrink: 2;
  /*Está encolhendo numa proporção de 3 vezes mais que o padrão*/
}

/*Importante: A proporção de encolhimento será aplicada caso haja espaço, se não houver espaço, os itens permitidos a encolher, encolherão ao máximo, mesmo com taxas de encolhimento diferentes*/



.container-f {
  margin-top: 40px;
  display: flex;
  height: 30vh;
  border: 2px dashed;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
}

.container-f .item {
  background-color: hsl(var(--hue), 100%, 70%);
  text-align: center;
  align-content: center;
  flex-basis: 20px;
  /*width: 100px;
  O align-items: stretch; não funciona porque o .container-f .item tem peso maior e está aplicando uma largura fixa. Por isso, é mais indicado usar o flex-basis:, que será aplicado no eixo secundário (row) da div.*/
  /*flex-grow: 1;
  Preenche o item no eixo principal (column), fazendo com que o justify-content: space-evenly; seja inútil*/
}


.container-g {
  margin-top: 40px;
  display: flex;
  height: 10vh;
  border: 2px dashed;
  flex-direction: row;
}

.container-g .item {
  background-color: hsl(var(--hue), 100%, 70%);
  text-align: center;
  align-content: center;
  flex: initial;
  /*0 1 auto (Grow,Shrink,Basis)*/
  flex: auto;
  /*1 1 auto (Grow,Shrink,Basis) Melhor até agora!*/
  flex: none;
  /*0 0 auto (Grow,Shrink,Basis)*/
  flex: 1;
  /* <Grow> 1 0 (Grow,Shrink,Basis) */

  flex: 50px;
  /* 1 1 <Basis> (Grow,Shrink,Basis) */


  flex: 0 1;
  /* <Grow> <Shrink> 0 (Grow,Shrink,Basis)*/

  flex: 0 10%;
  /* <Grow> 1 <Basis> (Grow,Shrink,Basis)*/

  flex: 0 1 80px;
  /* <Grow> <Shrink> <Basis> (Grow,Shrink,Basis)*/
}


.container-h {
  margin-top: 40px;
  display: flex;
  height: 10vh;
  border: 2px dashed;
  flex-direction: row;
}

.container-h .item {
  background-color: hsl(var(--hue), 100%, 70%);
  text-align: center;
  align-content: center;
  flex: auto;
}

.container-h .item:nth-child(4) {
  order: -1;
  /*Todos os elementos têm valor igual a 0, ou seja, valor menor colocará antes, ao passo que, um valor maior colocará depois.*/
  /*Muda apenas a ordem visual, não os elementos do HTML, ou seja, não é usado por conta da acessibilidade.*/
}

/*Flexbox*/

/*
***Container:***
Display
Flex-flow (Identifica automaticamente)
  - Flex-direction
  - Flex-wrap
Gap (Um valor só, aplica às duas propriedades)
  - Row-gap
  - Column-gap
Justify-content
align-itens
align-content


***Children:***
Flex
Flex-grow
Flex-Shrink
Flex-basis
Align-self
*/


.container-i {
  margin-top: 40px;
  display: flex;
  height: 10vh;
  border: 2px dashed;
  flex-direction: row;
}

.container-i .item {
  background-color: hsl(var(--hue), 100%, 70%);
  text-align: center;
  align-content: center;
  flex: auto;
}

.container-i .item:nth-child(4) {
  align-self: center;
}