main {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding-block: 24px;
  background-color: var(--background-color);
  justify-content: center;
}

main img {
  width: 286px;
  height: 286px;
  object-fit: cover;
}