nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  line-height: 0;
  /*Uma altura "a mais" que alguns navegadores aplicam*/
  margin-block: 20px;
  /*Eixo Y*/
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  padding-block: 8px;
  gap: 24px;
}

#profileImg {
  width: 40px;
  height: 40px;
}


a:hover {
  color: var(--brand-color);
  text-decoration: underline;
}

.profile:hover {
  scale: 1.1;
}

.lupa-hover {
  display: none;
}

.hoverLupa:hover .lupa {
  display: none;
}

.hoverLupa:hover .lupa-hover {
  display: block;
}