* {
  margin: 0;
  padding: 0;
}

:root {
  /*Cores*/
  --red: #E3646E;
  --purple: #BB72E9;
  --blue: #3996DB;
  --green: #82BC4F;
  --yellow: #EABD5F;

  --gray-100: #E2E4E9;
  --gray-200: #C0C4CE;
  --gray-300: #878EA1;
  --gray-400: #292C34;
  --gray-500: #16181D;
  --gray-600: #0D0E11;

  /*Tipografia*/
  /* font-style font-weight font-size/line-height font-family */
  --title-lg: normal 700 56px/1.2 "Asap", sans-serif;
  --title-md: normal 700 24px/1.2 "Asap", sans-serif;
  --title-sm: normal 700 16px/1.2 "Asap", sans-serif;

  --subtitle: normal 400 20px/1.2 "Inconsolata", monospace;

  --text-md: normal 400 16px/1.4 "Maven Pro", sans-serif;
  --text-sm: normal 400 14px/1.4 "Maven Pro", sans-serif;
}

body {
  background-color: #16181d;
}

header {
  height: 750px;
  background-image:
    url(./assets/Background_Intro.png);
  background-size: 100%;
}

/*================
    Introdução
=================*/

#introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 130px 163px 183px;
}

#introduction div:has(>#foto) {
  position: relative;
  display: block;
  margin-bottom: 35px;
  width: 112px;
  height: 112px;
  min-width: 8.2vw;
  min-height: 8.2vw;
}

#foto {
  position: absolute;
  width: 99%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: fill;
  object-position: center top;
  border: var(--green) solid 2px;
  box-sizing: border-box;
}

#introduction img+svg {
  position: absolute;
  bottom: -5px;
  right: -5px;
  width: 40px;
  color: var(--green);
}

div+p {
  color: var(--gray-200);
  margin-bottom: 15px;
}

div+p strong {
  color: var(--green);
  text-shadow: 0px 4px 15px #82bc4f73;
}

#introduction h1 {
  color: var(--gray-100);
  margin-bottom: 25px;
}

#introduction h1 span {
  font: var(--text-sm);
}

#introduction h1+p {
  color: var(--gray-300);
  margin-bottom: 80px;
}

.tech {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.tech .tag {
  display: flex;
  align-items: center;
  align-content: center;
  padding: 8px 16px;
  border-radius: 160px;
  background-color: var(--gray-400);
  box-sizing: border-box;
  color: var(--gray-200);
  box-shadow: 0px 4px 16px black;
}

.tech .tag svg {
  height: 24px;
  aspect-ratio: 1/1;
  margin-right: 8px;
}

#github {
  color: rgba(191, 196, 207, 0.484);
}

#github svg {
  color: var(--gray-200);
}

#github:hover {
  box-shadow: 0px 4px 16px var(--gray-200);
  color: var(--gray-200);
}

#foto {}


#html {
  color: rgba(227, 100, 110, 0.484);
}

#html svg {
  color: var(--red);
}

#html:hover {
  box-shadow: 0px 4px 16px var(--red);
  color: var(--red);
}

#css {
  color: rgba(57, 148, 219, 0.484);
}

#css svg {
  color: var(--blue);
}

#css:hover {
  box-shadow: 0px 4px 16px var(--blue);
  color: var(--blue);
}

#js {
  color: rgba(234, 191, 97, 0.484);
}

#js svg {
  color: var(--yellow);
}

#js:hover {
  box-shadow: 0px 4px 16px var(--yellow);
  color: var(--yellow);
}

#others {
  color: rgba(129, 188, 78, 0.484);
}

#others:hover {
  box-shadow: 0px 4px 16px var(--green);
  color: var(--green)
}

#down {
  margin: 94px auto 57px;
  color: var(--gray-300);
}

.tech:hover~#down,
.fotoContainer:hover~#down,
#down:hover {
  color: var(--gray-200);
}