.whatsapp-btn {
  position: fixed;
  bottom: 100px;
  /* distância da parte de baixo da tela */
  right: 20px;
  /* distância da direita */
  width: 60px;
  height: 60px;
  z-index: 9999;
  /* garante que fique na frente de tudo */
}

.whatsapp-btn img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: transform .2s ease;
}

.whatsapp-btn:hover img {
  transform: scale(1.1);
}