label+.radio-wrapper {
  margin-top: 1rem;
}

.radio-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7.5rem, 1fr));
  /*Repetir automaticamente a largura que for necessária para encaixar, mas eu quero o mínimo de 7.5rem e o máximo do quanto for necessário*/
  gap: 1rem;
}

.radio-inner {
  display: grid;
  justify-items: center;

  border: 2px solid transparent;
  outline: 1px solid var(--stroke-default);
  border-radius: 0.5rem;
  gap: 0.5rem;
  padding: 2rem 0.5rem 0.5rem;

  position: relative;

  & input,
  & input:focus,
  & input:hover {
    all: unset;
    position: absolute;
    inset: 0;
  }

  .radio-image {
    background-image: url(../../assets/icons/circle-default.svg);
    width: 1.5rem;
    height: 1.5rem;

    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
  }

  &:hover,
  &:focus-within {
    border: 0.0625rem solid var(--stroke-highlight);

    & .radio-image {
      background-image: url(../../assets/icons/circle-hover.svg);
    }
  }

  &:has(:checked) {
    border: 0.125rem solid var(--stroke-highlight);

    & .radio-image {
      background-image: url(../../assets/icons/circle-selected.svg);
    }
  }
}