* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/*
Onde vai essa cor de texto????
.text-tertiary{
  color: #696969;
}
*/

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  min-height: 100%;
  font-family: "Open Sans", sans-serif;
}

.page {
  background-color: #F5F4F0;
  max-width: 1120px;
  min-height: 100%;
  margin: 0 auto;
  padding: 88px 80px 48px;
}

.image {
  width: 100%;
  height: auto;
  max-height: 350px;
  border-radius: 28px;
  object-fit: cover;
}


#first-image {
  height: auto;
  max-height: 660px;
}

.content {
  max-width: 1120px;
  margin: 0 auto;
}

.line {
  border-top: solid 1px #d9d9d9;
}

#last-line {
  margin: 40px 0 40px 0;
}

h1 {
  margin-top: 8px;
  font-size: 36px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

ol li {
  font-size: 28px;
  font-weight: bold;
}

h1,
h2,
ol li {
  color: #1B1B1B;
}

.headline {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  color: #E1624F;
}

p {
  font-size: 16px;
  font-weight: normal;
  color: #333333;
}

.subtitle {
  font-size: 16px;
  font-style: italic;
  text-align: center;
  margin-top: 24px;
}

#initial {
  margin: 40px 0px;
}

ol,
ul {
  list-style-position: inside;
}

ol {
  margin-top: 20px;
}

li {
  margin-left: 8px;
}

.first-section {
  margin-top: 64px;
  margin-bottom: 64px;
}

.discover {
  margin-top: 2px;
}

.paragraph {
  margin-top: 8px;
}

.places {
  margin-top: 48px;
}

.historia {
  font-weight: bold;
  color: #0C51A7;
}

.casais {
  font-weight: bold;
  color: #591B98;
}

.familias {
  font-weight: bold;
  color: #E5245E;
}

.orcamento {
  font-weight: bold;
  color: #E95E10;
}

.conclusion {
  text-align: center;
}

footer {
  margin-top: 65px;
  text-align: center;
}

footer img {
  vertical-align: middle;
}