* {
  margin: 0;
  padding: 0;
  /*border: solid 0.5px green;*/
}



html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  margin: 0;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
}


.image {
  width: 100%;
  height: 350px;
  border-radius: 28px;
  object-fit: cover;
}


#first-image {
  height: 660px;
}


#page {
  background-color: #F5F4F0;
  max-width: 1120px;
  min-height: 100%;
  margin: 0 auto;
  padding: 88px 80px 48px;
}


#content {
  background-color: #F5F4F0;
  max-width: 1120px;
  box-sizing: border-box;
  border: solid green;
  margin: 0 auto;
}


h1 {
  margin-top: 8px;
  font-size: 36px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 28px;
  font-weight: bold;

}

.headline {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  color: #E1624F;
}

p {
  font-size: 16px;
  font-weight: normal;
}

.subtitle {
  font-size: 16px;
  font-style: italic;
  text-align: center;
  margin-top: 24px;
}

#initial {
  margin: 40px 0px;
}

ol,
ul {
  list-style-position: inside;
  display: flex;
  align-items: center;
}